/*Home page style*/

#lookboktab {
	position: relative; 
	top: 14px; 
	left: 25px; 
	font-family: 'Lato',Arial,Helvetica,sans-serif;
    font-size: 16px;
}

#lookboktab:hover {
    color: #fff;
}

/*Lookbook page style*/

.page-title {
	text-align: center !important;
	margin: 36px 0;
}

.ps-source-username {
	color: #fff !important;
}